.modal {
  position: fixed;
  z-index:1;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_content{
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  width:50%;
  padding:1%;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.sub-modal {
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  width:50%;
  padding:1%;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.close{
  color:black;
  float:right;
}

.close:hover{
  color: cyan;
  cursor:pointer;
}

.title {
  padding-top: 15px;
  text-align: left;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #393838;
  padding-left: 20px;
}

.subTitle {
  text-align: left;
  font-size: 15px;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  color: black;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.add-q-entry {
  padding-bottom: 15px;
  padding-left: 20px;
}

.add-entry {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.modal-entry {
  width: 80%;
}

form {
  padding: 10px 30px 10px 30px;
}

form div {
  margin: 20px;
}