
// -----------------> fonts <--------------------
.small_font {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.xs_font {
  font-size: x-small;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.l_font {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  color: white;
}
.xxl_font {
  display: inline;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}

.answer-text {
  color: black;
}

// -----------------> rest <--------------------

.title-qa {
  text-align: left;
  color: #393838;
  font-size: small;
  font-weight: 200;
  padding-bottom: 15px;
}

.searchBar {
  width: 100%;
  height: 35px;
  padding-left: 20px;
  border-color: transparent;
  margin: auto;
  font-size: small;
  color: #393838;
}
.searchBar:focus {
  outline: none;
}
.searchBar::-webkit-search-cancel-button {
  display: none;
}
.mag {
  margin: auto;
}

.searchBar::placeholder {
  color: #393838;
  font-weight: bold;
  font-size: small;
}

.searchSection {
  display: grid;
  grid-template-columns: 95% auto;
  height: 40px;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.question-section {
  display: grid;
  grid-template-columns: 30px 650px 100px 100px;
  padding-bottom: 15px;
}

.fake {
  color: white;
}
.answer-additional {
  font-size: x-small;
}

.options {
  font-size: x-small;
  font-weight: lighter;
  color: #393838;
}

.answer-section {
  display: grid;
  grid-template-columns: 30px auto;
  padding-bottom: 15px;
}

.questionBody {
  font-weight: bolder;
  color: #393838
}

.answer {
  color: #393838;
  font-weight: light;
  font-size: smaller;
  display: grid;
  grid-template-columns: 200px 200px auto;
}

.answer-body {
  grid-column: 1 / 4;
  padding-bottom: 15px;
}

.load-collapse {
  color: grey;
  font-size: smaller;
  padding-left: 30px;
  padding-bottom: 15px;
}

.addSection {
  display: grid;
  grid-template-columns: 400px auto;
  padding-top: 15px;
}

.add {
  width: fit-content;
  padding: 10px;
  color: grey;
  background-color: white;
}

.add:hover {
  background: #a2a8ab;
  text-decoration: none;
}

.helpful {
  font-weight: bold;
}

.not-helpful {
  font-weight: normal;
}

.reported {
  color: red;
}

.left-border {
  border-left: #393838;
}

.qa-photo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 2px;
  border:1px solid rgb(172, 171, 171);
  object-fit: cover;
}

.qa-photo-large {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: contain;
}

.modal-img {
  position:fixed;
  width: 50%;
  height: 50%;
  top:60%;
  left:60%;
  transform: translate(-50%,-50%);
}

.trans-bg {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 6000;
}

.qa-list-section-scroll {
  max-height: 600px;
  overflow-y: scroll;
}

.qa-entry-scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.sm-btn {
  background-color: white;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  padding: 3px 6px 3px 6px;
  border: solid #000000 1px;
  margin: 5px 0px 0px 0px;
  width: fit-content;
}

.sm-btn:hover {
  background: #a2a8ab;
  text-decoration: none;
  cursor: pointer;
}