
// .card_container{
//   width: 250px;
//   border-style: solid;
//   border-radius: 8px;
// }

.card{
  height: 320px;
  width: 250px;
  position: relative;
  margin-left: 50px;
  margin-right: 10px;
  border-style: solid;
}
.addCard{
  height: 320px;
  width: 250px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 10px;
  border-style: solid;
  position: relative;
}
#addIcon{
  width: 250px;
  height: 220px;
  border-bottom: solid;
  display: flex;
  align-items: center;
  position: relative;
}
#addProductIcon{
  width: 50%;
  height: 50%;
  border: solid gray;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.star-icon{
  position: absolute;
  margin-top: 1px;
  margin-right: 2px;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  color: gray;
}

.card-image{
  width: 245px;
  height: 220px;
  z-index: -1;
}
.cardbody{
  padding-left: 10px;
  margin:0%
}
.price{
  color:#bdbebe;
  font-size: 12px;
  text-align: left;
  margin: 0%;

}
.name{
  font-size: 14px;
  font-weight:bold;
  text-align: left;
  margin: 0%;
}
.category{
  font-size: 12px;
  text-align: left;
  margin-top: 0px;
}

#addCardContent{
  text-align: center;
}

.clear-icon{
  position: absolute;
  margin-top: 1px;
  margin-right: 2px;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  color: gray;
}
