.cards_container{
  display: flex;
  justify-content: space-around;
}
.card_container{
  width: 250px;
  border-style: solid;
  border-radius: 8px;
}

.card{
  height: 350px;
  idth: 200px;
  border-radius: 50px;
}

.card-image{
  border-radius: 20px;
}

.card-image img{
  max-width: 200px;
  height: 220px;
}
.cardbody{
  padding-left: 10px;
  padding-bottom: 0px;
}
.price{
  color:#bdbebe;
  font-size: 12px;
  text-align: left;
  
}
.name{
  font-size: 14px;
  text-align: left;
  margin: 0px, 0px;
}
.category{
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  padding: 0px;
}