
// .card_container{
//   width: 250px;
//   border-style: solid;
//   border-radius: 8px;
// }

.card{
  height: 320px;
  width: 250px;
  position: relative;
  margin-left: 50px;
  margin-right: 10px;
  border: 1px solid rgb(195, 197, 195);
  border-radius: 10px;
  cursor: pointer;
}

.addCard{
  height: 320px;
  width: 250px;
  margin-left: 50px;
  margin-right: 10px;
  //border-style: solid;
  position: relative;
  border-radius: 10px;
  border: 2px dashed rgb(195, 197, 195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: rgb(161, 165, 167);
  cursor: pointer;
}

.addCard:hover {
  border-color: rgb(38, 168, 67);
}

.addProductIcon {
  font-size: 100px;
  // color: rgb(161, 165, 167);
}

#addIcon{
  width: 250px;
  height: 220px;
  border-bottom: 1px solid rgb(195, 197, 195);
  display: flex;
  align-items: center;
  position: relative;
}
#addProductIcon{
  width: 50%;
  height: 50%;
  border: solid gray;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.star-icon{
  position: absolute;
  margin-top: 1px;
  margin-right: 2px;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  padding: 2px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  // border: 2px solid rgb(0, 0, 0);
}

.star-icon:hover {
  color: rgb(233, 184, 23);
  border: 2px solid rgb(233, 184, 23);
}

.card-image{
  width: 246px;
  height: 220px;
  // z-index: -1;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.cardbody{
  padding-left: 10px;
  margin:0%;
}
.price{
  color:#bdbebe;
  font-size: 12px;
  text-align: left;
  margin: 0%;

}
.name{
  font-size: 14px;
  font-weight:bold;
  text-align: left;
  margin: 0%;
}
.category{
  font-size: 12px;
  text-align: left;
  margin-top: 0px;
}

#addCardContent{
  text-align: center;
}

.clear-icon{
  position: absolute;
  margin-top: 1px;
  margin-right: 2px;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  padding: 2px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
}

.clear-icon:hover {
  color: rgb(212, 64, 77);
  border: 2px solid rgb(212, 64, 77);
}
