#main-slider-container{
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  position: relative;
}

#slider{
  width: 100%;
  height: 320px;
  background: white;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x : scroll;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
}

#slider::-webkit-scrollbar{
  display: none;
}

.slider-icon-left{
  background: white;
  border-radius: 100%;
  position: absolute;
  left:0;
  cursor: pointer;
  z-index: 500;
}

.slider-icon-left:hover {
  background: #a2a8ab;
}

.slider-icon-right:hover{
  background: #a2a8ab;
}


.slider-icon-right{
  background: white;
  border-radius: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 500;
}
.outfit-slider-icon-left{
  background: white;
  border-radius: 100%;
  position: absolute;
  left:0;
  cursor: pointer;
  z-index: 500;
}

.outfit-slider-icon-left:hover {
  background: #a2a8ab;
}

.outfit-slider-icon-right:hover{
  background: #a2a8ab;
}


.outfit-slider-icon-right{
  background: white;
  border-radius: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 500;
}

#outfitSlider{
  width: 100%;
  height: 320px;
  background: white;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x : scroll;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
}

#outfitSlider::-webkit-scrollbar{
  display: none;
}