
// ========================================================================================
// Flex ===================================================================================
// ========================================================================================
* {
  box-sizing: border-box;
}

.overview-container {
  width: 100%;
  margin: 50px 0;
  padding: 0 2%;
}

.overview-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3%;
}

.close-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.closest-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-column-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.closest-column-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selectors-buttons-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}






// ========================================================================================
// Text ===================================================================================
// ========================================================================================

h1 {
  font-size: 40px;
  margin: 0;
}

p {
  margin: 0;
}

.bold-text {
  font-weight: 600;
}

.subheading {
  color: rgb(107, 108, 109);
}

.error-message {
  font-size: 14px;
  color: red;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}


// ========================================================================================
// Cursors ================================================================================
// ========================================================================================

.plus-cursor {
  cursor: url('./cursors/plus.cur'),pointer;
}

.minus-cursor {
  cursor: url('./cursors/minus.cur'),pointer;
}

.magnify-cursor {
  cursor: zoom-in;
}

.pointer-cursor {
  cursor: pointer;
}




// ========================================================================================
// Image Gallery ==========================================================================
// ========================================================================================

.image-gallery-container {
  width: 70%;
  flex-grow: 1;
}

.gallery-flex {
  width: 100%;
  display: flex;
  gap: 2%;
}

.default-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 600px;
  flex-grow: 1;
}

.big-picture {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  flex-grow: 1;
}

.thumbnails-flex {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.thumbnail {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px rgb(195, 197, 195) inset;
  border-radius: 10px;
}

.no-thumbnail {
  background: url('https://www.qiteplanguage.org/assets/img/noimage2.png');
  background-size: cover;
  background-position: center;
}

.selected-thumbnail {
  border: 3px solid rgb(233, 184, 23);
  box-shadow: 0px 0px 0px 3px rgb(255, 255, 255) inset, 0 5px 20px rgba(255, 201, 65, 0.7);
}



.chevron-icon {
  cursor: pointer;
}

.arrow-icon {
  font-size: 24px;
  cursor: pointer;
}






// ========================================================================================
// Expanded View ==========================================================================
// ========================================================================================

.expanded-view-container {
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  max-width: 1400px;
  width: 100%;
  padding: 0 5%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.simple-thumbnails-flex {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.simple-thumbnail {
  box-sizing: border-box;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid rgb(233, 184, 23);
}

.selected-simple-thumbnail {
  box-sizing: border-box;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: rgb(233, 184, 23);
  border: 3px solid rgb(233, 184, 23);
  box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset, 0 0 15px rgba(255, 201, 65, 0.7);
}

.chevron-icon-white {
  cursor: pointer;
  color: #ffffff;
}

.arrow-icon-white {
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.close-expanded-view-space{
  width:100%;
  height: 100%;
}

.close-expanded-view-icon{
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.max-zoom-container {
  position: relative;
  overflow: hidden;
  display: block;
  height: 600px;
  flex-grow: 1;
  // background-color: #00adb7;
  width: 100%;
}

.image-source {
  width:100%;
  height:600px;
  object-fit:contain;
  opacity: 0;
}

.image-target{
  position: absolute;
  width:250%;
  height:1500px;
  object-fit:contain;
}





// ========================================================================================
// Product Info ===========================================================================
// ========================================================================================
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.price-style {
  font-weight: 500;
  font-size: 20px;
}

.sale-price {
  color: red;
}

.crossed {
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}

.description {
  padding-top: 20px;
  border-top: 1px solid rgb(191, 194, 196);
}

.add-to-bag-success-message {
  display: none;
  position: fixed;
  width: 80%;
  padding: 15px;
  top: 40px;
  left:50%;
  right: auto;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb(57, 186, 109);
  color: rgb(255, 255, 255);
  z-index: 200;
  border-radius: 3px;
  // border: 2px solid rgb(38, 168, 67);
  // box-shadow: 0 5px 30px rgba(76, 223, 108, 0.5);
}


// ========================================================================================
// Styles Section =========================================================================
// ========================================================================================


.styles-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.style-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 300px;
}

.style-container {
  width: 60px;
  height: 60px;
}

.check-icon {
  font-size: 18px;
  float:right;
  background-color: white;
  border-radius: 20px;
  color: rgb(38, 168, 67);
}

.style-circle {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-size: cover;
  cursor: pointer;
  box-shadow:0px 0px 0px 2px rgb(195, 197, 195) inset;
}

.selected-style {
  box-shadow: 0px 0px 0px 3px rgb(38, 168, 67) inset, 0 5px 30px rgba(76, 223, 108, 0.8);
}



// ========================================================================================
// Selectors ==============================================================================
// ========================================================================================


.selector {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  background-color: white;
  color: #000000;
  padding: 20px 24px 20px 24px;
  border: solid #000000 1px;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
}

.inactive-selector {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  background-color: white;
  color: #434242;
  padding: 20px 24px 20px 24px;
  border: solid #434242 1px;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
  cursor: auto;
  text-decoration: none;
}

.qty-selector {
  width: 70px;
}

.big-selector {
  width: 210px;
}



// ========================================================================================
// Rating =================================================================================
// ========================================================================================

.read-all-reviews {
  cursor: pointer;
  color: rgb(16, 156, 250);
  text-decoration: underline;
}

.read-all-reviews:hover {
  color: rgb(14, 104, 163);
}


// ========================================================================================
// Buttons ================================================================================
// ========================================================================================

.buttons-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 300px
}

.primary-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 42, 42);
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 0 24px;
  border: solid #000000 1px;
  margin: 0;
  cursor: pointer;
  flex-grow: 1;
  height: 60px;
}

.primary-button:hover {
  background-color: rgb(75, 78, 81);
}

.button {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 42, 42);
  // padding: 18px 18px;
  border: solid #000000 1px;
  cursor: pointer;
}


.button-icon {
  font-size: 20px;
}

.heart-icon {
  color: rgb(212, 64, 77);
}

.star-favorite-icon {

}



