.revs {
  display: flex;
  justify-content: baseline;
}
.revs-rating {
  width:35%;
}
.revs-right {
  width:65%;
  padding-left: 20px;
}

.breakdown {
  margin: 20px 0 20px 0;
}

.progress{
  display: inline-flex;
  justify-content: baseline;
  font-size:14px;
  font: darkgray;
}

.rat-comfort {
  margin-top:20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
.li{
  margin: 10px;
}
.rev-header{
  display: inline;
}
.star {
  display: inline;
  width:40px;
}

.date {
  display: inline;
  width: 100px;
  margin-top: 0;
  margin-left: 300px;
  font-size: 14px;
  color: darkgray;
}

.rev-summary {
  font-weight: bold;
  font-size: 18px;
}

.review {
  font-size:14px;
}

.rev-footer {
  font-size: 14px;
}

