
//-----------------> fonts <--------------------
.small_font {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.xs_font {
  font-size: x-small;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.xxl_font {
  display: inline;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

//----------------
.revs {
  display: flex;
  justify-content: baseline;
}
.revs-rating {
  width:35%;
}
.revs-right {
  width:65%;
  padding-left: 20px;
}

.breakdown {
  margin: 20px 0 20px 0;
}

.progress{
  display: inline-flex;
  justify-content: baseline;
  font: darkgray;
}

.rat-comfort {
  margin-top:20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
.li{
  margin: 10px;
}
.rev-header{
  display: inline;
}
.star {
  display: inline;
  width:40px;
}

.date {
  display: inline;
  width: 100px;
  margin-top: 0;
  margin-left: 300px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.rev-summary {
  margin-top:15px;
  font-family: 'Poppins', sans-serif;;
  font-weight: 500;
  font-size: 14px;
}

.review {
  margin-top:15px;
}



.stars {
  display:inline;
  vertical-align:top;

}
.rat-stars {
  margin-top: 10px;
}
.rat-progress {
  --percent: calc(var(--stars) * 100%);
  display: inline-block;
  margin-left: 5px;
  background: gray;
  background: linear-gradient(90deg, rgb(130,196,139) var(--percent), lightgray var(--percent));
  width:150px;
  height:6px;
}


.rev-footer {
  margin-top: 15px;
}
.rev-helpful {
  margin-left: 10px;
}
.rev-helpdata {
  margin-left: 2px;
  margin-right: 10px;
}

select {
  border: none;
  text-decoration: underline;
  font-size:medium;
  cursor: pointer;
}

//-----------------> AddReview <------------------
.trans-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.rev-modal_content{
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  width:50%;
  padding:1%;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.sub-modal {
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  width:50%;
  padding:1%;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.close{
  color:black;
  float:right;
}
.close:hover{
  color: cyan;
  cursor:pointer;
}
.title {
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
}

.subTitle {
  text-align: center;
  font-size: 18px;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
}

form{
  padding: 10px 30px 10px 30px;
}

form div{
  margin: 20px;
}