
//-----------------> fonts <--------------------
.small_font {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.xs_font {
  font-size: x-small;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.l_font {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  color: white;
}
.xxl_font {
  display: inline;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}
//------------------> Reviews<-------------------------

.revs {
  display: flex;
  justify-content: baseline;
}

.revs-left {
  width:35%;
}

.revs-right {
  width:65%;
  padding-left: 1%;
}


ul {
  list-style-type: none;
  padding: 0;
}
.li{
  margin: 10px;
}

.star {
  display: inline;
  width:40px;
}

//`----------------> breakdown <-----------
.breakdown {
  margin: 20px 0 20px 0;
}

.stars {
  display:inline;
  vertical-align:top;
}

.rat-stars {
  margin-top: 10px;
}

.progress{
  display: inline-flex;
  justify-content: baseline;
  // font: darkgray;
}

.rat-comfort {
  margin-top:20px;
}
.rat-progress {
  --percent: calc(var(--stars) * 100%);
  display: inline-block;
  margin-left: 5px;
  background: gray;
  background: linear-gradient(90deg, rgb(130,196,139) var(--percent), lightgray var(--percent));
  width:150px;
  height:6px;
}
.display-change {
  width: 200px;
  background-color: lightblue;
}
.pod-progress {
  display: inline-block;
  height:6px;
  width: 180px
}
.pod-long {
  background: repeating-linear-gradient(90deg, lightgray, lightgray 60px, white 60px, white 65px);
}
.pod-short {
  background: repeating-linear-gradient(90deg, lightgray, lightgray 40px, white 40px, white 45px);
}
.point-tria {
  position: absolute;
  margin-top: 10px;
  transform: rotate(180deg);
}
//-------------->reviewslist & reviewEntry <--------------------

.review {
  margin-top:15px;
  word-wrap: break-word;
}
.rev-header{
  display: inline;
}
.revs-right-list {
  overflow: hidden;
}

.revs-list {
  max-height: 700px;
}

.display-scroll {
  overflow-y: scroll;
}

.display-no-scroll {
  overflow-y:hide;
}

.date {
  display: inline;
  width: 100px;
  margin-top: 0;
  margin-left: 300px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


.rev-summary {
  margin-top:15px;
  font-family: 'Poppins', sans-serif;;
  font-weight: 500;
  font-size: 14px;
}

.rev-gray {
  background-color: gray;
  color: transparent;
  content: none;
}

.more-summary {
  font-family: 'Poppins', sans-serif;;
  font-weight: 300;
  font-size: 12px;
}

.sm-btn {
  background-color: white;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 3px 6px 3px 6px;
  border: solid #000000 1px;
  margin: 5px 0px 0px 0px;
  width: 150px;
}

.sm-btn:hover {
  background: #a2a8ab;
  text-decoration: none;
  cursor: pointer;
}

.rev-footer {
  margin-top: 15px;
}
.rev-helpful {
  margin-left: 10px;
}
.rev-helpdata {
  margin-left: 2px;
  margin-right: 10px;
}

select {
  border: none;
  text-decoration: underline;
  font-size:medium;
  cursor: pointer;
}
.rev-recommend {
  margin: 10px 0px;
}
.rep-Meg {
  background-color: lightgray;
  min-height: 30px;
  padding:18px;

}
.rep-Meg .rep-title {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.rev-photo {
  margin: 2px;
  border:1px solid black;
}
.modal-img {
  position:fixed;
  width: 50%;
  height: 50%;
  top:60%;
  left:60%;
  transform: translate(-50%,-50%);
}
.bigImg {
  position:fixed;
  background: gray;
  width: 100%;
  height: 100%;
  top:53%;
  left:50%;
  transform: translate(-50%,-50%);
}
//-----------------> AddReview <------------------
.trans-bg {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 6000;
}

.rev-modal_content{
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  width:50%;
  padding:1%;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.sub-modal {
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  width:50%;
  padding:1%;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.close{
  color:black;
  float:right;
}
.close:hover{
  color: cyan;
  cursor:pointer;
}
.rev-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
}

.rev-subTitle {
  text-align: center;
  font-size: 18px;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
}

.center-btn {
  background-color: white;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 11px 30px 10px 30px;
  border: solid #000000 1px;
  margin: 2% 0% 2% 45%;
  cursor: pointer;
}
form{
  padding: 10px 30px 10px 30px;
}

form div{
  margin: 5px;
}

.factor{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.input-sum{
  width: 70%;
  height: fit-content;
}
.input-body{
  width: 70%;
  min-height: 80px;
  max-height: fit-content;
}
//-----------------> StarRating <----------------
.invisi-btn {
  background-color: transparent;
  border:none;
  outline:none;
  cursor: pointer;
}

.on {
  color: rgb(233, 184, 23);
}

.off {
  color:rgb(138, 136, 132);
}
//------------> SearchBar <--------------
.rev-search {
  width: 80%;
  margin-right: 2%;
}
.search-icon {
  margin-top: 1px;
  cursor: pointer;
}
.search-icon:hover {
  color: gray
}
